@model SuperSurvey.UseCases.Ports.In.PollDTO

@{
    ViewData["Title"] = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vote</h1>

<div>
    <h4>PollDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <div class="container">
        <div class="row">
        @foreach (var item in Model.Options) 
        {
            <div class="col-sm d-flex justify-content-center">
                <div class="container">
                    <div class="row">
                        <h3>@item.Description</h3>
					</div>
				</div>
                    <div class="row">
                        @using(Html.BeginForm("Vote", "Poll", FormMethod.Post)) 
                        {
                            <div class="d-flex justify-content-center">
                            @Html.HiddenFor(item => item.Id)
                            <input type="submit" value="Vote" class="btn btn-secondary" />
                            </div>
                        }
					</div>
            </div>
        }
        </div>
    </div>
</div>
