@model SuperSurvey.UseCases.Ports.In.PollResults

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results</h1>

<div>
    <h4>PollResults</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PollId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PollId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
    <table class="table">
    <thead>
        <tr>
            <th>
                Opção
            </th>
            <th>
                Votos
			</th>
            <th>
                %
			</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Results) 
    {
        <tr>
            <td>
                @item.Description
            </td>
            <td>
                @item.VotesCount
            </td>
            <td>
                @Math.Round(item.VotesPercentage, 2)
            </td>
        </tr>
    }
    </tbody>
</table>
