@model SuperSurvey.UseCases.Ports.In.PollResults

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados: @Model.Name</h2>
<div>
    <div class="container">
        <div class="row">
        @foreach (var item in Model.Results) 
        {
            <div class="card bg-primary mb-3 col-sm m-1 p-1">
                <div class="card-header">
                    <h4>@item.Description</h4>
				</div>
                    <div class="card-body">
                        <div class="">
                            <div class="row d-flex justify-content-center">
                                <img src="@item.PictureUrl" style="object-fit:contain;height:10em;" />
                            </div>
                            <div class="row pt-2">
                                <h3 class="text-center">Votes: @item.VotesCount (@Math.Round(item.VotesPercentage, 0) %)</h3>
                            </div>
                        </div>
					</div>
            </div>
        }
        </div>
        <div class="row">
            <p>Last update @Model.UpdatedAt</p>
        </div>
    </div>
</div>